<app-header></app-header>
<div class="wrap">
    <div class="login pExtra">
        <div class="conta_iner">
            <div class="loginMain">
                <div class="loginLeft">
                    <h1><span>Forgot Password?</span>Don't worry! We got your back.
                    </h1>
                    <p>Enter your registered email to recieve an email to reset your password.
                    </p>
                </div>
                <div class="loginRight">
                    <div class="formControl">
                        <label>Email</label>
                        <input placeholder="" value="">
                    </div>
                    <div class="formControl">
                        <p routerLink="/login">Back to login?</p>
                    </div>

                    <button routerLink="/login">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-question></app-question>
<app-footer></app-footer>