<app-header></app-header>
<div class="wrap">
    <div class="conta_iner">
        <div class="dasboard">
            <div class="title">
                <h2>Investments</h2>
                <!-- <button routerLink="/dashboard">Back</button> -->
            </div>
            <div class="dMain">
                <div class="dLeft">
                    <div class="status" style="justify-content: start;">
                        <div class="sBox" routerLink="/dashboard/transaction">
                            <div class="sLeft">
                                <i class="fa fa-usd" aria-hidden="true"></i>
                            </div>
                            <div class="sRight">
                                <h4>Transactions</h4>
                                <!-- <h6>189</h6> -->
                            </div>
                        </div>
                        <div class="sBox" routerLink="/dashboard/loan"> 
                            <div class="sLeft">
                                <i class="fa fa-usd" aria-hidden="true"></i>
                            </div>
                            <div class="sRight">
                                <h4>Loans</h4>
                                <!-- <h6>189</h6> -->
                            </div>
                        </div>
                        <div class="sBox">
                            <div class="sLeft">
                                <i class="fa fa-usd" aria-hidden="true"></i>
                            </div>
                            <div class="sRight">
                                <h4>Offers</h4>
                                <!-- <h6>189</h6> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <mat-tab-group>
                <mat-tab label="FD (10)">
                    <div class="transaction">
                        <div class="searchBar">
                            <div class="fomControl"> <label>Search</label><input type="text" placeholder=""></div>
                            <div class="fomControl"> <label>To</label><input type="date"></div>
                            <div class="fomControl"><label>From</label> <input type="date"></div>
                            <button>search</button>
                        </div>

                        <table>
                            <tr>
                                <th>#</th>
                                <th>FD No.</th>
                                <th>Name</th>
                                <th>Aount</th>
                                <th>Start Date</th>
                                <th>Due Date</th>
                                <th>Status</th>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>124</td>
                                <td>John</td>
                                <td style="color: #ff844b;font-weight: bold;">$40,000</td>
                                <td>00-00-0000</td>
                                <td>00-00-0000</td>
                                <td>
                                    <button class="">In Progress</button>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>124</td>
                                <td>John</td>
                                <td style="color: #ff844b;font-weight: bold;">$40,000</td>
                                <td>00-00-0000</td>
                                <td>00-00-0000</td>
                                <td>
                                    <button class="green">Completed</button>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>124</td>
                                <td>John</td>
                                <td style="color: #ff844b;font-weight: bold;">$40,000</td>
                                <td>00-00-0000</td>
                                <td>00-00-0000</td>
                                <td>
                                    <button class="">In Progress</button>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>124</td>
                                <td>John</td>
                                <td style="color: #ff844b;font-weight: bold;">$40,000</td>
                                <td>00-00-0000</td>
                                <td>00-00-0000</td>
                                <td>
                                    <button class="green">Completed</button>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>124</td>
                                <td>John</td>
                                <td style="color: #ff844b;font-weight: bold;">$40,000</td>
                                <td>00-00-0000</td>
                                <td>00-00-0000</td>
                                <td>
                                    <button class="">In Progress</button>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>124</td>
                                <td>John</td>
                                <td style="color: #ff844b;font-weight: bold;">$40,000</td>
                                <td>00-00-0000</td>
                                <td>00-00-0000</td>
                                <td>
                                    <button class="green">Completed</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </mat-tab>
                <mat-tab label="RD (10)">
                    <div class="transaction">
                        <div class="searchBar">
                            <div class="fomControl"> <label>Search</label><input type="text" placeholder=""></div>
                            <div class="fomControl"> <label>To</label><input type="date"></div>
                            <div class="fomControl"><label>From</label> <input type="date"></div>
                            <button>search</button>
                        </div>

                        <table>
                            <tr>
                                <th>#</th>
                                <th>FD No.</th>
                                <th>Name</th>
                                <th>Aount</th>
                                <th>Start Date</th>
                                <th>Due Date</th>
                                <th>Status</th>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>124</td>
                                <td>John</td>
                                <td style="color: #ff844b;font-weight: bold;">$40,000</td>
                                <td>00-00-0000</td>
                                <td>00-00-0000</td>
                                <td>
                                    <button class="">In Progress</button>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>124</td>
                                <td>John</td>
                                <td style="color: #ff844b;font-weight: bold;">$40,000</td>
                                <td>00-00-0000</td>
                                <td>00-00-0000</td>
                                <td>
                                    <button class="green">Completed</button>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>124</td>
                                <td>John</td>
                                <td style="color: #ff844b;font-weight: bold;">$40,000</td>
                                <td>00-00-0000</td>
                                <td>00-00-0000</td>
                                <td>
                                    <button class="">In Progress</button>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>124</td>
                                <td>John</td>
                                <td style="color: #ff844b;font-weight: bold;">$40,000</td>
                                <td>00-00-0000</td>
                                <td>00-00-0000</td>
                                <td>
                                    <button class="green">Completed</button>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>124</td>
                                <td>John</td>
                                <td style="color: #ff844b;font-weight: bold;">$40,000</td>
                                <td>00-00-0000</td>
                                <td>00-00-0000</td>
                                <td>
                                    <button class="">In Progress</button>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>124</td>
                                <td>John</td>
                                <td style="color: #ff844b;font-weight: bold;">$40,000</td>
                                <td>00-00-0000</td>
                                <td>00-00-0000</td>
                                <td>
                                    <button class="green">Completed</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </mat-tab>
                <mat-tab label="PPF (10)">
                    <div class="transaction">
                        <div class="searchBar">
                            <div class="fomControl"> <label>Search</label><input type="text" placeholder=""></div>
                            <div class="fomControl"> <label>To</label><input type="date"></div>
                            <div class="fomControl"><label>From</label> <input type="date"></div>
                            <button>search</button>
                        </div>

                        <table>
                            <tr>
                                <th>#</th>
                                <th>FD No.</th>
                                <th>Name</th>
                                <th>Aount</th>
                                <th>Start Date</th>
                                <th>Due Date</th>
                                <th>Status</th>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>124</td>
                                <td>John</td>
                                <td style="color: #ff844b;font-weight: bold;">$40,000</td>
                                <td>00-00-0000</td>
                                <td>00-00-0000</td>
                                <td>
                                    <button class="">In Progress</button>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>124</td>
                                <td>John</td>
                                <td style="color: #ff844b;font-weight: bold;">$40,000</td>
                                <td>00-00-0000</td>
                                <td>00-00-0000</td>
                                <td>
                                    <button class="green">Completed</button>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>124</td>
                                <td>John</td>
                                <td style="color: #ff844b;font-weight: bold;">$40,000</td>
                                <td>00-00-0000</td>
                                <td>00-00-0000</td>
                                <td>
                                    <button class="">In Progress</button>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>124</td>
                                <td>John</td>
                                <td style="color: #ff844b;font-weight: bold;">$40,000</td>
                                <td>00-00-0000</td>
                                <td>00-00-0000</td>
                                <td>
                                    <button class="green">Completed</button>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>124</td>
                                <td>John</td>
                                <td style="color: #ff844b;font-weight: bold;">$40,000</td>
                                <td>00-00-0000</td>
                                <td>00-00-0000</td>
                                <td>
                                    <button class="">In Progress</button>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>124</td>
                                <td>John</td>
                                <td style="color: #ff844b;font-weight: bold;">$40,000</td>
                                <td>00-00-0000</td>
                                <td>00-00-0000</td>
                                <td>
                                    <button class="green">Completed</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </mat-tab>
                <mat-tab label="NPS (10)">
                    <div class="transaction">
                        <div class="searchBar">
                            <div class="fomControl"> <label>Search</label><input type="text" placeholder=""></div>
                            <div class="fomControl"> <label>To</label><input type="date"></div>
                            <div class="fomControl"><label>From</label> <input type="date"></div>
                            <button>search</button>
                        </div>

                        <table>
                            <tr>
                                <th>#</th>
                                <th>FD No.</th>
                                <th>Name</th>
                                <th>Aount</th>
                                <th>Start Date</th>
                                <th>Due Date</th>
                                <th>Status</th>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>124</td>
                                <td>John</td>
                                <td style="color: #ff844b;font-weight: bold;">$40,000</td>
                                <td>00-00-0000</td>
                                <td>00-00-0000</td>
                                <td>
                                    <button class="">In Progress</button>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>124</td>
                                <td>John</td>
                                <td style="color: #ff844b;font-weight: bold;">$40,000</td>
                                <td>00-00-0000</td>
                                <td>00-00-0000</td>
                                <td>
                                    <button class="green">Completed</button>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>124</td>
                                <td>John</td>
                                <td style="color: #ff844b;font-weight: bold;">$40,000</td>
                                <td>00-00-0000</td>
                                <td>00-00-0000</td>
                                <td>
                                    <button class="">In Progress</button>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>124</td>
                                <td>John</td>
                                <td style="color: #ff844b;font-weight: bold;">$40,000</td>
                                <td>00-00-0000</td>
                                <td>00-00-0000</td>
                                <td>
                                    <button class="green">Completed</button>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>124</td>
                                <td>John</td>
                                <td style="color: #ff844b;font-weight: bold;">$40,000</td>
                                <td>00-00-0000</td>
                                <td>00-00-0000</td>
                                <td>
                                    <button class="">In Progress</button>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>124</td>
                                <td>John</td>
                                <td style="color: #ff844b;font-weight: bold;">$40,000</td>
                                <td>00-00-0000</td>
                                <td>00-00-0000</td>
                                <td>
                                    <button class="green">Completed</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </mat-tab>
            </mat-tab-group>

        </div>
    </div>
</div>