.question{
    background: #e2f7f9;
    padding: 50px 0;
    font-family: "Source Sans Pro", sans-serif;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        background: url(../../../assets/images/question_pattern.png);
        background-size: 720px;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        background-repeat: no-repeat;
    }
    .title {
        text-align: center;
        z-index: 1;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2{
            font-size: 40px;
            margin-bottom: 30px;
        }
    }
}