<app-header></app-header>
<div class="wrap">
    <div class="login">
        <div class="conta_iner">
            <div class="loginMain">
                <div class="loginLeft">
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <h1><span>Get Started!</span>All your banking needs in one place.
                    </h1>
                    <p>Register yourself to avail all the services.
                    </p>
                </div>
                <div class="loginRight">
                    <div class="formControl">
                        <label>First Name</label>
                        <input placeholder="" value="">
                    </div>
                    <div class="formControl">
                        <label>Last Name</label>
                        <input placeholder="" value="">
                    </div>
                    <div class="formControl">
                        <label>Email</label>
                        <input placeholder="" value="">
                    </div>
                    <div class="formControl">
                        <label>Phone Number</label>
                        <input placeholder="" value="">
                    </div>
                    <div class="formControl">
                        <label>Password</label>
                        <input placeholder="" value="" type="password">
                    </div>
                    <button routerLink="/login">Signup</button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-question></app-question>
<app-footer></app-footer>