<app-header></app-header>
<div class="wrap">
    <div class="conta_iner">
        <div class="dasboard">
            <div class="title">
                <h2>Transactions</h2>
                <!-- <button routerLink="/dashboard">Back</button> -->
            </div>
            <div class="dMain">
                <div class="dLeft">
                    <div class="status" style="justify-content: start;">
                        <div class="sBox" routerLink="/dashboard/loan"> 
                            <div class="sLeft">
                                <i class="fa fa-usd" aria-hidden="true"></i>
                            </div>
                            <div class="sRight">
                                <h4>Loans</h4>
                                <!-- <h6>189</h6> -->
                            </div>
                        </div>
                        <div class="sBox" routerLink="/dashboard/investment">
                            <div class="sLeft">
                                <i class="fa fa-usd" aria-hidden="true"></i>
                            </div>
                            <div class="sRight">
                                <h4>Investments</h4>
                                <!-- <h6>189</h6> -->
                            </div>
                        </div>
                        <div class="sBox">
                            <div class="sLeft">
                                <i class="fa fa-usd" aria-hidden="true"></i>
                            </div>
                            <div class="sRight">
                                <h4>Offers</h4>
                                <!-- <h6>189</h6> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="transaction">
                <div class="searchBar">
                    <div class="fomControl"> <label>Search</label><input type="text" placeholder=""></div>
                    <div class="fomControl"> <label>To</label><input type="date"></div>
                    <div class="fomControl"><label>From</label> <input type="date"></div>
                    <button>search</button>
                </div>

                <table>
                    <tr>
                        <th>#</th>
                        <th>Date</th>
                        <th>Transaction Mode</th>
                        <th>Dr</th>
                        <th>Cr</th>
                        <th class="center">Action</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>22-09-2022</td>
                        <td>UPI</td>
                        <td>-</td>
                        <td>400</td>
                        <td class="center">
                            <div class="btns">
                                <button>View PDF</button>
                                <button>Send Over Email</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>22-09-2022</td>
                        <td>UPI</td>
                        <td>-</td>
                        <td>400</td>
                        <td class="center">
                            <div class="btns">
                                <button>View PDF</button>
                                <button>Send Over Email</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>22-09-2022</td>
                        <td>NEFT</td>
                        <td>-</td>
                        <td>400</td>
                        <td class="center">
                            <div class="btns">
                                <button>View PDF</button>
                                <button>Send Over Email</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>22-09-2022</td>
                        <td>IMPS</td>
                        <td>-</td>
                        <td>400</td>
                        <td class="center">
                            <div class="btns">
                                <button>View PDF</button>
                                <button>Send Over Email</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>22-09-2022</td>
                        <td>UPI</td>
                        <td>-</td>
                        <td>400</td>
                        <td class="center">
                            <div class="btns">
                                <button>View PDF</button>
                                <button>Send Over Email</button>
                            </div>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
</div>