<app-header></app-header>
<div class="wrap">
    <div class="banner">
        <div class="conta_iner">
            <div class="bMain">
                <div class="bLeft">
                    <h1>Small Business Banking <br />
                        that helps you <span>GROW</span></h1>
                    <ul class="checks">
                        <li>Visa Cards</li>
                        <li>Payments</li>
                        <li>Checking</li>
                        <li>Multi-Currency</li>
                    </ul>
                    <button *ngIf="!isLoggedIn" routerLink="/signup">Get a FREE Account</button>
                </div>
                <div class="bRight">
                    <figure>
                        <img src="assets/images/banner.jpg">
                    </figure>
                </div>
            </div>
        </div>
    </div>
    <section class="works">
        <div class="conta_iner">
            <div class="workMain">
                <ul>
                    <li>
                        <div class="box">
                            <div class="boxLeft">
                                <figure>
                                    <img src="assets/images/f1.png">
                                </figure>
                            </div>
                            <div class="boxRight">
                                <h4>Create An Account</h4>
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet dolor alut const slice elit aliquid dolor ametin perfer endis
                            velit sed fuga volup tation sit praising pain.</p>
                    </li>
                    <li>
                        <div class="box">
                            <div class="boxLeft">
                                <figure>
                                    <img src="assets/images/f2.png">
                                </figure>
                            </div>
                            <div class="boxRight">
                                <h4>Attach bank Account</h4>
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet dolor alut const slice elit aliquid dolor ametin perfer endis
                            velit sed fuga volup tation sit praising pain.</p>
                    </li>
                    <li>
                        <div class="box">
                            <div class="boxLeft">
                                <figure>
                                    <img src="assets/images/f3.png">
                                </figure>
                            </div>
                            <div class="boxRight">
                                <h4>Send Money</h4>
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet dolor alut const slice elit aliquid dolor ametin perfer endis
                            velit sed fuga volup tation sit praising pain.</p>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="trust">
        <div class="conta_iner">
            <div class="tMain">
                <div class="tLeft">
                    <figure>
                        <img src="assets/images/trust.png">
                    </figure>
                </div>
                <div class="tRight">
                    <h4><span>Lorem Ipsum</span>Truly Financial $Handle</h4>
                    <p>Get paid within seconds from any Truly Financial user – simply send them your unique $handle
                        (E.g.: $CompanyName).</p>
                </div>
            </div>
        </div>
    </section>
    <section class="benefits">
        <div class="conta_iner">
            <h2>Benefits</h2>
            <p>Lorem ipsum dolor sit amet dolor alut const slice elit aliquid dolor ametin perfer endis velit sed fuga
                volup tation sit praising pain. Lorem ipsum dolor sit amet dolor alut const slice elit aliquid dolor
                ametin perfer endis velit sed fuga
                volup tation sit praising pain.</p>
            <div class="fmian">
                <ul class="feature">
                    <li><span>AUD</span>Australian Dollar</li>
                    <li><span>AUD</span>Australian Dollar</li>
                    <li><span>AUD</span>Australian Dollar</li>
                    <li><span>AUD</span>Australian Dollar</li>
                    <li><span>AUD</span>Australian Dollar</li>
                    <li><span>AUD</span>Australian Dollar</li>
                    <li><span>AUD</span>Australian Dollar</li>
                    <li><span>AUD</span>Australian Dollar</li>
                    <li><span>AUD</span>Australian Dollar</li>
                    <li><span>AUD</span>Australian Dollar</li>
                    <li><span>AUD</span>Australian Dollar</li>
                    <li><span>AUD</span>Australian Dollar</li>
                    <li><span>AUD</span>Australian Dollar</li>
                </ul>
                <ul class="feature">
                    <li><span>AUD</span>Australian Dollar</li>
                    <li><span>AUD</span>Australian Dollar</li>
                    <li><span>AUD</span>Australian Dollar</li>
                    <li><span>AUD</span>Australian Dollar</li>
                    <li><span>AUD</span>Australian Dollar</li>
                    <li><span>AUD</span>Australian Dollar</li>
                    <li><span>AUD</span>Australian Dollar</li>
                    <li><span>AUD</span>Australian Dollar</li>
                    <li><span>AUD</span>Australian Dollar</li>
                    <li><span>AUD</span>Australian Dollar</li>
                    <li><span>AUD</span>Australian Dollar</li>
                    <li><span>AUD</span>Australian Dollar</li>
                    <li><span>AUD</span>Australian Dollar</li>
                </ul>
                <ul class="feature">
                    <li><span>AUD</span>Australian Dollar</li>
                    <li><span>AUD</span>Australian Dollar</li>
                    <li><span>AUD</span>Australian Dollar</li>
                    <li><span>AUD</span>Australian Dollar</li>
                    <li><span>AUD</span>Australian Dollar</li>
                    <li><span>AUD</span>Australian Dollar</li>
                    <li><span>AUD</span>Australian Dollar</li>
                    <li><span>AUD</span>Australian Dollar</li>
                    <li><span>AUD</span>Australian Dollar</li>
                    <li><span>AUD</span>Australian Dollar</li>
                    <li><span>AUD</span>Australian Dollar</li>
                    <li><span>AUD</span>Australian Dollar</li>
                    <li><span>AUD</span>Australian Dollar</li>
                </ul>
            </div>
        </div>
    </section>
    <!-- <section class="download">
        <div class="conta_iner">
            <div class="dMain">
                <div class="dleft">
                    <figure>
                        <img src="">
                    </figure>
                </div>
                <div class="dRight">
                    <h2><span>Download the Future</span>You Can Find All Things You Need In Our App</h2>
                    <p>There are many variations of passages of Lorem Ipsum amet avoilble but majority have suffered
                        alteration in some form, by injected humur or randomise words which don't sure amet sit dolor
                        quras alto lorem.</p>
                        <div class="app">
                            <figure>
                                <img src="assets/images/apple.png">
                            </figure>
                            <figure>
                                <img src="assets/images/android.png">
                            </figure>
                        </div>
                </div>
            </div>
        </div>
    </section> -->
</div>
<app-question></app-question>
<app-footer></app-footer>