.banner {
    padding: 50px 0 0;
    .bMain {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .bLeft {
            width: 50%;
            h1 {
                font-size: 50px;
                font-weight: normal;
                line-height: 77px;
                span{
                    color: #409ec3;
                    font-weight: bold;
                }
               
            }
            .checks {
                display: flex;
                margin: 40px 0;
                li {
                    color: #45a582;
                    padding-right: 30px;
                    position: relative;
                    font-family: "Source Sans Pro", sans-serif;
                    font-size: 25px;
                    margin-right: 30px;
                    &::after{
                        content: "";
                        position: absolute;
                        background: #c1c2c3;
                        width: 2px;
                        height: 25px;
                        right: 0;
                        top: 6px;
                    }
                    &:last-child{
                        &::after{
                            content: unset;
                        }
                    }
                }
            }
        }
        .bRight {
            width: 45%;
            figure{
                width: 100%;
            }
        }
    }
}

section.works{
    .workMain{
        ul{
            display: flex;
            justify-content: space-between;
            li{
                width: 29%;
                background: #fff;
                box-shadow: 0 0 25px rgb(85 85 85 / 10%);
                padding: 25px;
                .box {
                    display: flex;
                    align-items: center;
                    .boxLeft {
                        margin-right: 20px;
                        figure{
                            border: 1px solid #45a582;
                            width: 50px;
                            height: 50px;
                            padding: 10px;
                            border-radius: 8px;
                        }
                    }
                    .boxRight{
                        h4{
                            font-size: 20px;
                            font-weight: bold;
                        }
                    }
                }
                p{
                    color: #666;
                    font-size: 18px;
                    padding-top: 17px;
                    line-height: 28px;
                    font-family: "Source Sans Pro", sans-serif;
                }
            }
        }
    }
}
section.trust {
    background: #f2f3f4;
    margin: 50px 0;
    .tMain {
        display: flex;
        align-items: center;
        .tLeft {
            width: 50%;
            figure{
                width: 60%;
                margin: auto;
            }
        }
        .tRight{
            h4{
                font-size: 30px;
                font-weight: bold;
                padding-bottom: 20px;
                span{
                    display: block;
                    padding: 11px;
                    background: #E3D1D1;
                    border: 2px solid #E3D1D1;
                    width: 110px;
                    font-size: 13px;
                    border-radius: 8px;
                    text-align: center;
                    margin-bottom: 30px;
                    position: relative;
                    left: -40px;
                }
            }
            p{
                color: #666;
                font-size: 18px;
                line-height: 28px;
                font-family: "Source Sans Pro", sans-serif;
                width: 70%;
            }
        }
    }
}

section.benefits{
    h2{
        text-align: center;
        font-size: 40px;
    }
    p{
        color: #666;
        font-size: 18px;
        line-height: 28px;
        font-family: "Source Sans Pro", sans-serif;
        width: 70%;
        margin: auto;
        text-align: center;
        padding-top: 10px;
    }
    .fmian {
        padding-top: 50px;
        display: flex;
        justify-content: space-around;
        ul.feature{
            li{
                padding-bottom: 30px;
                font-size: 16px;
                span{
                    background: #8CDFBA;
                    display: inline;
                    padding: 6px;
                    font-size: 15px;
                    border-radius: 5px;
                    margin-right: 10px;
                }
            }
        }
    }
}

section.download{
    
}