@import'../../../assets/css/variable.scss';
.dasboard {
    padding: 50px 0;
    .dMain {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .dLeft {
            width: 72%;
          
            .profile {
                background: #fff;
                padding: 30px;
                border-radius: 19px;
                box-shadow: 0px 2px 17px 0px #d6d8dad9;
                margin: 25px 0;
                h4{
                    font-size: 22px;
                    padding-bottom: 20px;
                }
            }
            .transaction{
                background: #fff;
                border-radius: 19px;
                box-shadow: 0px 2px 17px 0px #d6d8dad9;
                h4{
                    font-size: 22px;
                    padding-bottom: 20px;
                }
                .tmain {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 30px 20px 10px;
                    h6{
                        color: $theme-clr;
                        font-size: 17px;
                        &:hover {
                            color: #ff854b;
                            cursor: pointer;
                            text-decoration: underline;
                        }
                    }
                }
              
            }
        }
        .dRight{
            background: #fff;
            padding: 30px;
            border-radius: 19px;
            box-shadow: 0px 2px 17px 0px #d6d8dad9;
            width: 22%;
            .profile{
                .avatar{
                    figure{
                        width: 150px;
                        height: 110px;
                        border-radius: 100px;
                        overflow: hidden;
                        margin: auto;
                        img{
                            height: 100%;
                            object-fit: contain;
                        }
                    }
                }
                .detail {
                    text-align: center;
                    padding-top: 20px;
                    h4{
                        font-size: 23px;
                    }
                    p{
                        color: #777;
                        font-size: 17px;
                    }
                    button{
                        margin-top: 18px;
                        min-width: auto;
                        padding: 10px 20px;
                        border-radius: 4px;
                    }
                }
            }
        }
        .sRight{
            h4{
                font-size: 20px;
            }
            h6{
                color: #777;
                font-size: 18px;
                padding-top: 2px;
            }
        }
    }
}
table {
    width: 100%;
    border-spacing: 0;
    padding-top: 10px;
    button {
        padding: 10px;
        min-width: auto;
        font-size: 13px;
        border-radius: 4px;
            margin: 0 3px;
            min-width: 80px;
            &.red{
                background: red;
                border: 1px solid red;
                color: #fff;
                &:hover{
                  background: none;
                    color: red;
                }
            }
            &.green{
                background: green;
                border: 1px solid green;
                color: #fff;
                &:hover{
                  background: none;
                    color: green;
                }
            }
            &.gold{
                background: gold;
                border: 1px solid gold;
                color: #000;
                &:hover{
                  background: none;
                    color: gold;
                }
            }
    }
    th, td {
        border-spacing: 0;
        border-collapse: unset;
        padding: 15px 10px;
        text-align: left;
        min-width: 120px;
        border-bottom: 1px solid #6b8da94a;
        &:first-child{
            min-width: 10px;
        }
    }
}
.status {
    display: flex;
    justify-content: space-between;
    .sBox {
        background: #fff;
        margin-right: 20px;
        width: 23%;
        padding: 20px;
        border-radius: 12px;
        display: flex;
        align-items: center;
        box-shadow: 0px 1px 27px 0px #d6d8dad9;
        border: 1px solid #c3c7ca33;
        &:hover {
            background: #ff854b38;
            // box-shadow: 0px 1px 27px 0px #c3c7ca;
            border: 1px solid #ff844b11;
            cursor: pointer;
            .sRight h4 {
                color: #255881d3;
            }
        }
        .sLeft {
            margin-right: 13px;
            i{
                color: #ff844b;
                border: 1px solid #ddd;
                width: 40px;
                height: 40px;
                border-radius: 14px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 18px;
                background: #fff;
            }
        }
        .sRight{
            display: flex;
            justify-content: space-between;
            width: 80%;
            h4{
                color: #6b8da9;
                font-size: 18px;
            }
            h6{
                font-size: 21px;
            }
        }
        &:last-child{
            margin-right: 0;
        }
    }

}
