<app-header></app-header>
<div class="wrap">
    <div class="conta_iner">
        <div class="dasboard">
            <div class="title">
                <h2>Dashboard</h2>
            </div>
            <div class="dMain">
                <div class="dLeft">
                    <div class="status">
                        <div class="sBox" routerLink="/dashboard/transaction">
                            <div class="sLeft">
                                <i class="fa fa-usd" aria-hidden="true"></i>
                            </div>
                            <div class="sRight">
                                <h4>Transactions</h4>
                                <!-- <h6>189</h6> -->
                            </div>
                        </div>
                        <div class="sBox" routerLink="/dashboard/loan"> 
                            <div class="sLeft">
                                <i class="fa fa-usd" aria-hidden="true"></i>
                            </div>
                            <div class="sRight">
                                <h4>Loans</h4>
                                <!-- <h6>189</h6> -->
                            </div>
                        </div>
                        <div class="sBox" routerLink="/dashboard/investment">
                            <div class="sLeft">
                                <i class="fa fa-usd" aria-hidden="true"></i>
                            </div>
                            <div class="sRight">
                                <h4>Investments</h4>
                                <!-- <h6>189</h6> -->
                            </div>
                        </div>
                        <div class="sBox">
                            <div class="sLeft">
                                <i class="fa fa-usd" aria-hidden="true"></i>
                            </div>
                            <div class="sRight">
                                <h4>Offers</h4>
                                <!-- <h6>189</h6> -->
                            </div>
                        </div>
                    </div>
                    <div class="profile">
                        <h4>Analysis</h4>
                        <figure>
                            <img src="assets/images/profile.png">
                        </figure>
                    </div>
                    <div class="transaction">
                        <div class="tmain">
                            <h4>Top 5 Transaction</h4>
                            <h6 routerLink="/dashboard/transaction">View All</h6>
                        </div>
                        <table>
                            <tr>
                                <th>#</th>
                                <th>Date</th>
                                <th>Transaction Mode</th>
                                <th>Dr</th>
                                <th>Cr</th>
                                <th class="center">Action</th>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>22-09-2022</td>
                                <td>UPI</td>
                                <td>-</td>
                                <td>400</td>
                                <td class="center">
                                    <div class="btns">
                                        <button>View PDF</button>
                                        <button>Send Over Email</button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>22-09-2022</td>
                                <td>UPI</td>
                                <td>-</td>
                                <td>400</td>
                                <td class="center">
                                    <div class="btns">
                                        <button>View PDF</button>
                                        <button>Send Over Email</button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>22-09-2022</td>
                                <td>NEFT</td>
                                <td>-</td>
                                <td>400</td>
                                <td class="center">
                                    <div class="btns">
                                        <button>View PDF</button>
                                        <button>Send Over Email</button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>22-09-2022</td>
                                <td>IMPS</td>
                                <td>-</td>
                                <td>400</td>
                                <td class="center">
                                    <div class="btns">
                                        <button>View PDF</button>
                                        <button>Send Over Email</button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>22-09-2022</td>
                                <td>UPI</td>
                                <td>-</td>
                                <td>400</td>
                                <td class="center">
                                    <div class="btns">
                                        <button>View PDF</button>
                                        <button>Send Over Email</button>
                                    </div>
                                </td>
                            </tr>
                           
                        </table>
                    </div>
                </div>
                <div class="dRight">
                   <div class="profile">
                    <div class="avatar">
                        <figure>
                            <img src="assets/images/male.png">
                        </figure>
                    </div>
                    <div class="detail">
                        <h4>Ashish Verma</h4>
                        <p>Customer</p>
                        <button routerLink="/profile/details">View Profile</button>
                    </div>
                   
                   </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <app-footer></app-footer> -->