<footer>
    <div class="conta_iner">
        <div class="fMain">
            <div class="fleft">
                <div class="logo">
                    <figure>
                        <img src="assets/images/logo.png">
                    </figure>
                    <p>© 2022 Bank. All Rights Reserved</p>
                </div>
            </div>
            <div class="fMid">
                <h5>Important Links</h5>
                <ul>
                    <li routerLink="/about">About Us</li>
                    <li routerLink="/privacy">Privacy Policy</li>
                    <li routerLink="/terms">Terms & Conditions</li>
                </ul>
            </div>
            <div class="fRight">
                <h5>Contact Details</h5>
                <ul>
                    <li>ABC Avenue, New Country</li>
                    <li class="ilink"><a href="tel:+12 3456 7890">+12 3456 7890</a></li>
                    <li class="ilink"><a href="mailto:abc@test.com">abc@test.com</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>